gateway:
    aggregates:
        customer_order:
            path: /customer_orders/{customerId}
            priority: 0
            cache_lifetime: 5
            handler: 'KejawenLab\SemartApiGateway\Aggregate\CustomerOrder'
