gateway:
    prefix: /api
    host: https://arsiteknologi.com:8080
    trusted_ips: ['127.0.0.1', '::1']
    auth:
        host: https://arsiteknologi.com:8080
        login:
            path: /login
            method: POST
        verify_path: /me #mostly profile path
        token:
            key: token
            lifetime: 3600
        credential:
            type: json
            username:
                field: username
                value: admin
            password:
                field: password
                value: admin
    services:
        service1:
            host: https://arsiteknologi.com:8080
            weight: 7
        service2:
            host: https://arsiteknologi.com:8080
            limit: 1000
            weight: 5
        service3:
            host: https://arsiteknologi.com:8080
        service4:
            host: https://arsiteknologi.com:8080
            version: null
            health_check_path: /status
            limit: 1000
            weight: 1
