<?php

define('GATEWAY_ROOT', dirname(__DIR__));

require GATEWAY_ROOT.'/vendor/autoload.php';

use KejawenLab\SemartApiGateway\Gateway;
use Symfony\Component\HttpFoundation\Request;

$redis = new Redis();
$redis->connect('localhost'); //Change redis host

$app = new Gateway($redis, false); //Uncomment to enable development mode
//$app = new Gateway($redis, true); //Uncomment to enable production mode

$GLOBALS['app'] = $app;

$app->handle(Request::createFromGlobals())->send();
